* {
  margin: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 15px;
}

h1 {
  color: rgb(0, 0, 0);
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 40px;
  text-shadow: 2px 2px 0 #e700fc, 1px -1px 0 #e700fc, -1px 1px 0 #e700fc,
    -1px -1px 0 #e700fc, 1px 0px 0 #e700fc, 0px 1px 0 #e700fc,
    -1px 0px 0 #e700fc, 0px -1px 0 #e700fc;
}

#textHeader {
  color: rgb(0, 0, 0);
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
  margin-top: 20px;
  text-align: center;
  text-shadow: 2px 2px 0 #02d441, 1px -1px 0 #02d441, -1px 1px 0 #02d441,
    -1px -1px 0 #02d441, 1px 0px 0 #02d441, 0px 1px 0 #02d441,
    -1px 0px 0 #02d441, 0px -1px 0 #02d441;
}

#gifsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#buscador {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: 50px;
  margin-bottom: 50px;
}

#inputBox {
  border-radius: 25px;
  text-align: center;
  font-size: 1.5rem;
  width: 400px;
  outline: 3px solid;
  outline-color: rgb(0, 217, 255);
}

@media (max-width: 420px) {
  h1 {
    font-size: 25px;
  }

  #textHeader {
    font-size: 20px;
  }

  #inputBox {
    width: 300px;
  }
}

@media (max-width: 310px) {
  #inputBox {
    width: 200px;
  }
}
